.container() {
  min-width: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: #eae7e0;

  @media @tablet {
    padding: 50px 5vw;
  }

  @media @desktop {
    padding: 80px 15vw;
  }
}